/*------------------------------------------------------HEADER-------------------------------------------------------------*/
.header-external-container{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, #392794, #444174);
    padding: 0;
}

.logo-container{
    width: 30%;
    padding: 1%;
}

.logo-header-class{
    border-radius: 50%;
    width: 35%;
    height: 100%;
    object-fit: cover;
    border: 2px solid #000; 
}

.main-name-container{
    width: 30%;
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.header-menu-container{
    width:30%;
    display: inline;
}

.header-menu-container ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-menu-container ul li{
    display:flex;
    justify-content: flex-end;
    margin-right: 4%;
    margin-top: 2%;
    font-size: 1.2em;
}

.header-menu-container ul li a { 
    color: #fff; 
    text-decoration: none; 
}

.header-menu-container ul li:hover{ 
    text-decoration: underline;
}
/*-------------------------------------------------------------END OF HEADER------------------------------------------------*/


/*---------------------------------------------------------------FOOTER-----------------------------------------------------*/
.footer-bar {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, #392794, #444174);
    
}

.footer-logo {
    width:30%;
    padding: 1%;
}

.footer-logo-rounded {
    border-radius: 50%;
    width: 35%;
    height: 100%;
    object-fit: cover;
    border: 2px solid #000;
}

.footer-company {
    width: 30%;
    color: #fff;
}

.footer-links {
    width: 30%;
    display: flex;
    justify-content: flex-end;   
    padding: 3%;
    
}
.footer-links a{
    margin-right: 2%;
}


.logo-size {
    height:30px;
    width: 30px;
}
/*-----------------------------------------------------END OF FOOTER--------------------------------------------------------*/




/*--------------------------------------------------------HOME-------------------------------------------------------------*/
/*-----------------------------------------------------END OF HOME---------------------------------------------------------*/


/*--------------------------------------------------------ABOUT------------------------------------------------------------*/
/*-----------------------------------------------------END OF ABOUT--------------------------------------------------------*/


/*--------------------------------------------------------SERVICES---------------------------------------------------------*/
/*-----------------------------------------------------END OF SERVICES-----------------------------------------------------*/

/*-----------------------------------------------------CONTACT-------------------------------------------------------------*/
/*----------------------------------------------------END OF CONTACT-------------------------------------------------------*/